

.row {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  &__title {
    color: white;
    font-size: 25px;
  }
  &__posters {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll hidden;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__poster {
    object-fit: contain;
    width: 100%;
    max-height: 150px;
    margin-right: 10px;
    transition: transform 400ms;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__posterLarge {
    max-height: 300px;
    &:hover {
      transform: scale(1.08);
    }
  }
  &__dropdown {
    margin-top: 40px;
    min-height: 400px;
    background-color: #111;
    border: 1px solid white;
    padding: 20px;
    position: relative;
    &__btns {
      background-color: white;
      border: 1px solid white;
      border-bottom: none;
      position: absolute;
      top: -2.3rem;
      display: flex;
    }
    &__btn {
      cursor: pointer;
      color: #000000;
      font-weight: bold;
      padding: 0.5rem 2rem;
      background-color: rgba($color: white, $alpha: 0.5);
      transition: all 350ms;
      &:hover {
        color: white;
        background-color: #111;
      }
    }
    &__btn.active {
      color: white;
      background-color: #111;
    }
  }
}

